a {
	text-decoration: none;
}

.header {
	line-height: 9rem;
	display: grid;
	align-items: center;
	justify-content: space-between;
	grid-template-columns: 0.5fr 1fr 0.5fr;
	font-size: 2rem;
	padding: 2rem 7rem;
}

.header__logo {
	font-weight: 700;
	font-size: 3.5rem;
	color: var(--white);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 30rem;
}

.header__links {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

.link {
	color: var(--white);
}
