a {
	text-decoration: none;
}

.header {
	line-height: 9rem;
	display: grid;
	align-items: center;
	justify-content: space-between;
	grid-template-columns: 0.5fr 1fr 0.2fr;
	font-size: 2rem;
	padding: 2rem 7rem;
}

.header__logo {
	font-weight: 700;
	font-size: 3.5rem;
	color: var(--white);
	display: flex;
	align-items: center;
}

.header__logo img {
	width: 10rem;
}

.header__links {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

.link {
	color: var(--white);
}

.header__cart {
	position: relative;
}

.cart__btn {
	display: grid;
	place-items: center;
	position: relative;

	padding: 2rem;

	cursor: pointer;
	border: none;
	background: transparent;
	color: var(--light-red-orange);
	filter: drop-shadow(0.5rem 0.5rem 0.5rem var(--black));
	font-size: 4rem;
}

.cart__counter {
	display: grid;
	place-items: center;
	position: absolute;
	bottom: 15%;
	right: 15%;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	background: var(--white);
	color: currentColor;
	font-size: 2rem;
	font-weight: 600;
}
