.cart__open {
	display: grid;
	grid-template-rows: 0.2fr 1fr 0.5fr 0.2fr;
	justify-items: center;
	position: absolute;
	z-index: 1;
	right: 0;
	top: 80%;
	transform: translate(0%, 10%);

	padding: 2rem;
	min-width: 30vw;
	min-height: 30vh;
	overflow: visible;
	transition: all 0.2s linear;
	border-radius: 0.8rem;
	background: var(--light-black);
	filter: drop-shadow(0.6rem 0.4rem 0.5rem var(--black));
}

.cart__open::before {
	content: '';
	display: block;
	position: absolute;
	z-index: 2;
	top: -2%;
	right: 25%;
	transform: translate(0%, -50%);
	border-left: 2rem solid transparent;
	border-right: 2rem solid transparent;
	border-bottom: 2rem solid var(--light-black);
}

.cart__closed {
	display: none;
	height: 0;
}

.cart__empty {
	text-align: center;
	width: 100%;
}
.cart__empty::-webkit-scrollbar {
	display: none;
}

.cart__items {
	overflow: hidden scroll;
	max-height: 20vh;
	width: 100%;
}

.item {
	display: grid;
	grid-template-columns: 0.3fr 1fr 0.2fr;
	align-items: flex-start;
	column-gap: 2rem;
	margin: 2rem 4rem;
	padding: 2rem 0;
	border: none;
	border-bottom: 0.2rem solid var(--black);
}

.item__img {
	background: var(--black);
	border-radius: 0.5rem;
	width: 10rem;
	height: 10rem;
	display: grid;
	place-items: center;
}

.item__img img {
	width: 80%;
	height: 80%;
}

.item__text {
	justify-self: flex-start;
}

.remove__btn {
	background: var(--black);
	color: currentColor;
	border: none;
	background: transparent;
	cursor: pointer;
	font-size: 2rem;
	place-self: center end;
}

.total__info {
	justify-self: stretch;
	margin: 0 4rem;
	border-top: 0.2rem solid var(--pale-yellow);
}

.order__btn {
	transform: translate(0, 100%);
}
